body {
    height: 95vh;
    background-color: #ffa100;
    color: white;
}

.container {
    width: 70vw;
    height: fit-content;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
}

.heading {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    height: 43px;
    font-weight: bold;
}

.second {
    display: flex;
    justify-content: center;
    font-size: 25.8px;
    margin-bottom: 10px;
}

.third {
    display: flex;
    justify-content: center;
    font-size: 11.7px;
    margin-bottom: 50px;
}

.image {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.image img {
    width: 400px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 50px;
}

.button {
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    margin: 15px;
}

.button :hover {
    cursor: pointer;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button span {
    font-size: 14.2px;
}

.button img {
    width: 45px;
    margin-right: 15px;
}

footer p,
a {
    display: flex;
    justify-content: center;
    font-size: 14.5px;
    color: white;
}

@media only screen and (max-width: 900px) {
    .container {
        top: 15%;
        left: 12%;
    }

    .heading {
        font-size: 25.4px;
    }

    .heading img {
        width: 25.4px;
        height: 25.4px;
        margin-right: 15px;
    }

    .third {
        margin-bottom: 20px;
    }

    .image img {
        height: 300px;
    }

    .image {
        margin-bottom: 20px;
    }

    .button img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    .button span {
        font-size: 11.8px;
    }

    .button {
        margin: 0px;
    }

    .buttons {
        justify-content: space-between;
        width: 300px;
        margin-bottom: 10px;
    }

    footer p,
    a {
        font-size: 8.3px;
        justify-content: flex-start;
    }
    footer{
        width: max-content;
    }
}