@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Varela';
}

body {
    background-color: rgb(6, 98, 12);
    display: flex;
    justify-content: center;
}

.navbar {
    position: fixed;
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    background-color: black;
    height: 110px;
    align-items: center;
}

nav ul li {
    padding: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.logo img {
    height: 100px;
}

.badacontainer {
    display: flex;
    flex-direction: row;
}

#reset {
    width: 150px;
    background-color: antiquewhite;
    color: black;
    font: bold;
    font-size: 20px;
    border-radius: 50px;
}

@media only screen and (min-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 23vh);
        grid-template-rows: repeat(3, 23vh);
        background-color: #07ffff;
        grid-gap: 1px;
        margin-top: 200px;
        border: 2px solid #07ffff;
        border-radius: 1%;
        margin-right: 25px;
    }

    #result {
        margin-top: 200px;
        width: 200px;
        color: black;
        font-size: 50px;

    }
}

@media only screen and (max-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        min-width: 40vh;
        min-height: 40vh;
        background-color: #07ffff;
        grid-gap: 1px;
        margin-top: 200px;
        border: 2px solid #07ffff;
        border-radius: 1%;
        margin-bottom: 15px;
    }

    .badacontainer {
        display: flex;
        flex-direction: column;
    }

    #result {
        width: 200px;
        color: black;
        font-size: 50px;

    }
}

.box {
    background-color: #06293f;
    padding: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box:hover {
    background-color: #637c8c;
    cursor: pointer;
}



#gif {
    opacity: 0;
    height: 200px;
}