* {
    background-color: #202124;
    color: white;
    border: none;
    font-size: 25px;
    border-radius: 10px;
}

.container {
    width: 50vw;
    height: fit-content;
    border: 2px solid #5f6368;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    top: 20%;
    left: 25%;
}

.add {
    margin-bottom: 50px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.chotacontainer {
    border: 2px solid #5f6368;
    height: fit-content;
    width: 100%;
    padding: 5px;
    color: rgba(255, 255, 255, 0.472);
    cursor: text;
}

button {
    margin-left: 50px;
    margin-right: 15px;
    height: fit-content;
    border: 2px solid #5f6368;
    padding: 5px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

.checkbox {
    margin-right: 25px;
    padding: 5px;
    height: 35px;
    width: 35px;
    border: 2px solid red;
    border-radius: 0px;
    cursor: pointer;
}

.task {
    height: fit-content;
    padding: 5px;
    padding-left: 15px;
    width: 100%;
    border: 2px solid #5f6368;
}

@media only screen and (max-width: 900px) {
    * {
        font-size: 20px;
    }

    button {
        margin-left: 15px;
        margin-right: 5px;
    }

    .container {
        left: 20%;
    }

    .checkbox {
        height: 30px;
    }
}

.thicker-strikethrough {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}