*{
    margin: 0px;
}

.menu {
    background-color: rgba(0, 0, 0, 0.273);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    border-radius: 10px;
    top: 0;
    width: 100%;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.menu ul li a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.menu ul li a:hover {
    background-color: rgb(179, 134, 252);
}

.clock {
    background-image: url('clock_bg.png');
    height: 43vh;
    width: 43vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (min-width: 650px) {
    .clock {
        height: 43vw;
        width: 43vw;
    }
}

.wrapper {
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 100%;
    transform-origin: center bottom;
}

#hour,
#min,
#sec {
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 2%;
    height: 25%;
    left: 49%;
    top: 26.5%;
}

#min {
    width: 1.5%;
    height: 41%;
    left: 49.2%;
    top: 10%;
    background-color: rgba(0, 0, 0, 0.514);
}

#sec {
    width: 1%;
    height: 45%;
    left: 49.2%;
    top: 4.9%;
    background-color: #f8f8f8;
    border: 2px solid black;
}