@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #cd1818;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 20px;
}

.menu {
    background-color: white;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    border-radius: 10px;
    top: 0;
    width: 100%;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.menu ul li a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.menu ul li a:hover {
    background-color: #18cdcd;
}

.container {
    width: 440px;
    height: fit-content;
    background-color: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.time {
    font-size: 38px;
    font-weight: 500;
    margin: 30px;
}

.button {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 30px 0px;
}

button {
    width: calc(100% / 2 - 5px);
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 17px;
    border-radius: 5px;
    background: #cd1818;
}